a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 30px;
}

.container {
  margin: 0 auto 0 auto;
}

.left-content h2,
.left-content p {
  margin-bottom: 5px;
}
.left-content p:nth-last-of-type(1) {
  margin-bottom: 15px;
}

.main-location i {
  margin-right: 10px;
}

.content-tab .col-2 {
  position: relative;
  top: 2px;
  left: 12px;
}

.works p {
  margin-bottom: 5px;
}
.mini-content a {
  font-weight: bold;
}

.mini-content p {
  margin-bottom: 0;
}

.mini-content p i {
  margin-right: 5px;
}
